/* 
### Primary
- Dark Blue: #526fb0
- Deep Blue: #445d92
### Neutral
- Background Black: #18191d
- Dark Black: #303038
- Very Light Gray: #9698a6
- White: #fff 
- Black: #000

*/
@charset "utf-8";
@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
* {
   margin : 0;
   padding : 0;
}
.hidden {
   position : absolute;
   left : -9999px;
}
li {list-style: none;}
a {text-decoration: none; color:#000;}
body {
    font-family: 'OTWelcomeBA', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0 auto;
   min-width: 1500px;
    background-color: #18191d;
}
input { 
    font-family: 'OTWelcomeBA', Tahoma, Geneva, Verdana, sans-serif;
    }
table {
   border-collapse: collapse;
} 
/* main 전체 영역 가로정렬 */
#index {
    width: 1503px;
    margin: 0px auto;
}
#index .cont {
    float: left;    
}

/* main-Left */
#sectionLeft {
    width: 700px;
    height: 1000px;
}

/* 가운데 구분 선 */
/* #sectionLeft form:first-child {
    width: 600px;
    margin-top: 40px;
    border-right: 2px solid #cccccc;
    height: 900px;
} */

/* --------------------------------------- */

/* 주문내역 리스트 */
#orderList_h3 {
    width: 600px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    padding: 20px 0;
    color: #ffffff;
    background-color: #303038;
    top: 27px;
    position: relative;
}

#orderList {
    width: 600px;
    height: 500px;
    margin: 27px auto 0;
    padding-bottom: 50px;
    background-color: #303038;
    overflow: hidden;
}

#orderList thead {
    border-bottom: 3px solid #cccccc;
    height: 50px;
    color: #ffffff;
    background: #526fb0;
}

#orderList tbody {
    height: 400px;
    background-color: #303038;
}
#orderList tbody .orderItems > td {
    border-bottom: 3px solid #cccccc;
    text-align: center;
    height: 50px;
    color: #ffffff;

}
/* 순번 orderItemsNum */
#orderList tbody .orderItems .orderItemsNum {
    width: 50px;
    height: 50px;
    background-color: #303038;
    border: none;
    border-bottom: 3px solid #cccccc;
}
/* 제품명 menuName */
#orderList tbody .orderItems td:nth-child(2) input {
    width: 130px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
/* 수량 numOfNum */
#orderList tbody .orderItems td:nth-child(3) input {
    width: 50px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;

}

/* 단가 menu_price */
#orderList tbody .orderItems .menu_price {
    width: 60px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;

}
/* 금액 paidPrice */
#orderList tbody .orderItems td:nth-child(5) input {
    width: 50px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;

}

/* --------------------------------------- */

/* 계산서 */
#count {
    margin: 27px auto 0;
    width: 600px;
    background-color: #303038;
}
#count td {
    border-bottom: 3px solid #cccccc;
    color: #ffffff;
    padding: 20px 30px 20px 0;
    text-align: center;
}
/* 총 수량 */
#count td input[name="salesTotalPrice.orderNum"] {
    width: 100px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
/* 총 금액 */
#count td input[name="salesTotalPrice.totalPrice"] {
    width: 100px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
/* 할인 금액 */
#count td input[name="mileageHistory.mBalance"] {
    width: 100px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
/* 받을 금액 */
#count td input[name="salesTotalPrice.reducedPrice"] {
    width: 100px; 
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
/* 결제하기 button */
input[type="submit"] {
    width: 170px;
    height: 50px;
    margin: 30px auto 0;
    background-color: #303038;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 250px;
}
input[type="submit"]:hover {
    background-color: #526fb0;
}

/* --------------------------------- */

/* main-right */
#sectionRight{
    width: 800px;
    height: 1000px;
}

/* 상세 메뉴 카테고리 */
#menu {
    width: 700px;
    height: 150px;
    margin: 20px auto;
    border-radius: 30px;
    border: 5px solid #526fb0;
}
#menu .title {
    padding-top: 25px;
    width: 24.62%;
    height: 47.5px;
    float: left;
    text-align: center;
    border: 1px solid #526fb0;
    background-color: #303038;
    color: #ffffff;
}
#menu .title:first-child {
    border-radius: 23px 0 0 0;
}
#menu .title:nth-child(4) {
    border-radius: 0 23px 0 0;
}
#menu .title:nth-child(5) {
    border-radius: 0 0 0 23px;
}
#menu .title:last-child {
    border-radius: 0 0 23px 0;
}
#menu .title:hover {
    background-color: #526fb0;
}

/* sub 메뉴 */
.sub {
    width: 700px;
    margin: 20px auto;
}
.sub li {
    float: left;
    width: 19.2%;
    background-color: #303038;
    text-align: center;
    padding: 20px 20px 0 20px;
    transition: 0.5s;
    color: #ffffff;
    font-size: 12px;
}
.sub li:hover {
    background-color: #526fb0;

}
.sub li span {
    color: #ffffff;
    
}
img {
    width: 120px;
    height: 120px;
}

/* footer - ownerSet */

#ownerSet {
    width: 100%;
}
#ownerSet li {
    list-style: none;
    position: relative;
    left: -15%;
}

#ownerSet li > form > input[type="submit"] {
    text-align: center;
    background-color: #303038;
    width: 33.3333%;
    float: left;
    border-right: 2.3px solid #cccccc;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #ffffff;
    background-color: #303038;
    
}

#ownerSet li > form > input[type="submit"]:hover {
    background-color: #526fb0;
    transition: 0.5s;
    cursor: pointer;
}
/* 디지털 시계 */
p {
    text-align: center; font-size: 15px; color: #ffffff;
}