@charset "UTF-8";

#del_items label {
	font-size: 12px; 
	width: 20px;
}

.radio_btn {
 	width: 11px;
}

.itemName {
  width: 150px;
  margin: 5px 5px 0 0;
}

.itemName option {
	width: 150px;
}

#delItemsWrap {
	width: 500px;
	margin: 30px 0 0 -90px;
}

input[type="text"] {
	font-size: 14px;
}

input[type="submit"] {
	margin-left: 30px;
}