@charset "UTF-8";

#searchItemsContent form input[type="submit"] {
	width: 150px;
	margin-top: 20px;
}

#itemsSettingContent {
	width: 500px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	backgruond-color: #303038;
}

#itemsSettingContent a {
	height: 25px;
	line-height: 25px;
	margin-bottom: 5px;
}

#addItems {
	
}

#setItems {
	
}

#delItems {
	
}

#itemsTable {
	width: 400px;
	margin: 20px auto;
}

#itemsTableTitle, #itemsTableWrap {
	width: 400px;
	text-align: center;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#itemsTableTitle th {
	border-right: 2px solid #cccccc;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;	box-sizing: border-box;
}

#itemsTableTitle th:nth-of-type(1) {
	width: 50px;
}

#itemsTableTitle th:nth-of-type(2) {
	width: 100px;
}

#itemsTableTitle th:nth-of-type(3) {
	width: 170px;
}

#itemsTableTitle th:nth-of-type(4) {
	width: 70px;
}


#itemsTableWrap .itemsTableList {
	padding: 0 12px;
	box-sizing: border-box;
}

#itemsTableWrap .itemsTableList:nth-child(1) {
	width: 50px;
}

#itemsTableWrap .itemsTableList:nth-child(2) {
	width: 100px;
}

#itemsTableWrap .itemsTableList:nth-child(3) {
	width: 170px;
}

#itemsTableWrap .itemsTableList:nth-child(4) {
	width: 70px;
}
/*





*/