@charset "UTF-8";
@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
* {
   margin : 0;
   padding : 0;
}
.hidden {
   position : absolute;
   left : -9999px;
}
li {list-style: none;}
a {text-decoration: none; color:#000;}
body {
    font-family: 'OTWelcomeBA', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0 auto;
   /* min-width: 1500px; */
   color: #fff;
    background-color: #18191d;
}
input { 
    font-family: 'OTWelcomeBA', Tahoma, Geneva, Verdana, sans-serif;
    }
table {
   border-collapse: collapse;
} 

/*섹션 시작*/
section {
    width: 800px;
    /* height: 600px; */
    margin: 50px auto;
    padding: 50px 0 30px;
    text-align: center;
    background-color: #303038;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

table {
    margin: 30px auto;
}

table tr:first-child td {
    width: 260px;
    border: none;
    font-size: 20px;
}
tr {
    display: block;
    margin: 10px;
}

td {
    width: 200px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
}


#day_salesHistory td {
  text-align: center;
}



